[1]
NAME="Nothing"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo ''
[1-END]

[2]
NAME="Exec two command"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo 'ls /etc'
  echo 'cat /etc/resolv.conf'
[2-END]

[3]
NAME="Testing with /usr/bin PATH"
SETUP="export TERM=xterm ; PATH='/usr/bin'"
CLEAN=""
TESTS=
  echo 'pwd'
[3-END]

[4]
NAME="Testing with /bin PATH"
SETUP="export TERM=xterm ; PATH='/bin'"
CLEAN=""
TESTS=
  echo 'pwd'
[4-END]

[5]
NAME="run commands"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo 'cat /etc/resolv.conf'
  sleep 0.5
  echo 'ls -l /etc'
  sleep 0.5
  echo 'pwd'
[5-END]

[6]
NAME="setenv and unsetenv"
SETUP="/usr/bin/env > .lstenv ; while read varenv ; do unset $varenv ; done < <(/bin/cat .lstenv | /usr/bin/cut -f1 -d=) ; export PATH=/bin:/usr/bin ; export _=ls ; export LS_COLORS=RID ; export MYBG=4 ; export LVL=4 ; export NOTE=2"
CLEAN="while read varenv ; do export "$varenv" 2>/dev/null ; done  < <(/bin/cat .lstenv) ; /bin/rm -f .lstenv"
TESTS=
  echo 'unsetenv HOSTTYPE'
  echo 'unsetenv VENDOR'
  echo 'unsetenv OSTYPE'
  echo 'unsetenv MACHTYPE'
  echo 'unsetenv SHLVL'
  echo 'unsetenv PWD'
  echo 'unsetenv LOGNAME'
  echo 'unsetenv USER'
  echo 'unsetenv GROUP'
  echo 'unsetenv HOST'
  echo 'unsetenv REMOTEHOST'
  echo 'unsetenv _'
  echo 'unsetenv LS_COLORS'
  echo 'unsetenv NOTE'
  echo 'setenv titi'
  echo 'setenv tata coucou'
  echo 'env'
  echo '/usr/bin/env'
  echo 'setenv var1 val1'
  echo 'setenv var2 val2'
[6-END]

[7]
NAME="builtin cd"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo 'cd ..'
  echo 'ls -l'
  echo 'cd /usr'
  echo 'ls -l'
[7-END]

[8]
NAME="many tab and space"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo -e "\t\t    ls\t     \t-l    \t\t  \t -a /usr   \t\t"
[8-END]

[9]
NAME="Launch DivZero program with core dump"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "./my_divzero"
[9-END]

[10]
NAME="Launch SegFault program without core dump"
SETUP="ulimit -c 0 ; export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "./my_segfault"
[10-END]

[11]
NAME="Testing simple pipe"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "ls -l /etc | grep sh"
[11-END]

[12]
NAME="A pipe with a builtin ?"
SETUP="export VAR1=VALEUR1 ; OLDPATH=$PATH ; PATH='/random'"
CLEAN="PATH=$OLDPATH"
TESTS=
  echo 'setenv | /bin/grep VAR1'
  echo '/bin/ls | cd /usr'
  echo 'ls -l'
  echo 'exit 45|cat /etc/resolv.conf'
[12-END]
